/*---------------------------
	Global Styles
-----------------------------*/
:root {
  font-size: 16px; }

h1 {
  font-size: 4.375rem;
  font-weight: 300; }

h2 {
  font-size: 1.375rem;
  font-weight: 300; }

h3 {
  font-size: 0.875rem; }

.sm-text {
  font-size: .75rem; }

a.sidebar-article-sum {
  color: #FF9000;
  text-decoration: none; }

.white-text {
  color: #fff; }

.gray-text {
  color: #999; }

/*---------------------------
	Top Nav
-----------------------------*/
.top-nav {
  height: 42px;
  background: #333; }

.top-menu {
  margin-top: 10px; }

.top-menu li {
  border-right: 1px solid #ccc;
  padding: 2px 8px 2px 8px; }

.top-menu li,
.social-icons li,
.second-menu li {
  list-style: none; }

.top-menu:first-child {
  padding-left: 0; }

.top-menu a {
  text-transform: uppercase; }

.top-menu a,
.social-icons a {
  color: #ccc; }

.top-menu a:hover {
  text-decoration: none; }

.top-menu li:nth-of-type(5) {
  border-right: none; }

/*---------------------------
	Top Nav Social Icons
-----------------------------*/
.social-icons li i {
  font-size: 20px; }

.social-icons a {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  display: table-cell;
  padding: 10px 14px 10px 14px;
  background-color: black;
  border-right: 1px solid #333; }

ul.social-icons li:nth-of-type(1):hover > a {
  background-color: #3b5998; }

ul.social-icons li:nth-of-type(2):hover > a {
  background-color: #cb2027; }

ul.social-icons li:nth-of-type(3):hover > a {
  background-color: #55acee; }

ul.social-icons li:nth-of-type(4):hover > a {
  background-color: #ea4c89; }

ul.social-icons li:nth-of-type(5):hover > a {
  background-color: #007bb5; }

ul.social-icons li:nth-of-type(6):hover > a {
  background-color: #dd4b39; }

ul.social-icons li:nth-of-type(7):hover > a {
  background-color: #12a5f4; }

ul.social-icons li:nth-of-type(1):hover > a,
ul.social-icons li:nth-of-type(2):hover > a,
ul.social-icons li:nth-of-type(3):hover > a,
ul.social-icons li:nth-of-type(4):hover > a,
ul.social-icons li:nth-of-type(5):hover > a,
ul.social-icons li:nth-of-type(6):hover > a,
ul.social-icons li:nth-of-type(7):hover > a {
  color: white; }

/*---------------------------
	Global Heading
-----------------------------*/
.global-heading {
  text-align: center;
  margin-top: 32px; }

/*---------------------------
	Second Menu
-----------------------------*/
/*.sm-triangle {
	width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f00;
    position: absolute;
    top: 20px;
    right: 75px;
}*/
.second-navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 35px;
  margin-bottom: 0;
  background: white; }

.second-menu {
  text-align: center; }

.second-menu ul {
  display: inline-block;
  padding-left: 0;
  margin-top: 14px; }

.second-menu ul li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee; }

.second-menu ul li a:hover {
  color: #FF9000; }

ul#second-menu-ul li:nth-of-type(1) > a,
ul#second-menu-ul li:nth-of-type(2) > a,
ul#second-menu-ul li:nth-of-type(3) > a,
ul#second-menu-ul li:nth-of-type(4) > a,
ul#second-menu-ul li:nth-of-type(5) > a {
  border-right: none; }

/*---------------------------
	News Area Col Left
-----------------------------*/
.news-area {
  background-color: #FAFAFA; }

#carDiv,
#bandDiv,
#crowdDiv {
  background-color: white; }

#carDiv {
  margin-bottom: 50px;
  padding-bottom: 20px; }

.car {
  margin-top: 50px; }

.car img {
  width: 100%; }

.car-info {
  padding: 20px; }

.car-info,
.date,
.read-more-btn {
  text-align: center; }

.april {
  padding-right: 6px; }

.fa-comments {
  padding-left: 6px; }

.read-more-btn {
  margin-top: 25px; }

.read-more-btn a {
  border: 1px solid #FF9000;
  padding: 12px 16px 12px 14px;
  color: #333;
  text-decoration: none; }

/*---------------------------
	News Area Col Right
-----------------------------*/
.band img {
  /*	height: 100%;*/
  width: 100%; }

.band-info,
.girl-thinking-info {
  text-align: center;
  padding: 20px 0 30px 0; }

#bandDiv {
  margin: 50px 0 40px 0; }

/*---------------------------
	News Area 2 Col Left
-----------------------------*/
.black-head-bar {
  background: #333;
  height: 40px;
  margin: 50px 0 50px 0; }

.black-head-bar h3 {
  margin-left: 15px; }

.black-head-bar h3,
.footer-col-1 h2 {
  line-height: 40px; }

.text-left {
  text-align: left; }

#girlThinkingDiv,
.sidebar-articles {
  border-bottom: 1px solid #eee;
  margin-bottom: 38px;
  padding-bottom: 38px; }

.bike {
  margin-bottom: 0; }

/*---------------------------
	Sidebar Articles
-----------------------------*/
.sidebar-articles-date {
  margin-top: 15px; }

/*---------------------------
	Three Bottom Columns
-----------------------------*/
.bottom-3-article-info {
  padding: 20px 0 20px 0; }

/*---------------------------
	Footer
-----------------------------*/
footer {
  padding-top: 75px;
  background-color: #333; }

.fa-phone,
.fa-envelope {
  margin-right: 6px; }

input[type=text] {
  background-color: #000;
  width: 100%;
  border: none;
  height: 28px; }

input[type=text]:focus {
  outline: none; }

.subscribe-btn {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px; }

.subscribe-btn a {
  padding: 8px 6px 8px 6px;
  color: #fff;
  text-decoration: none;
  background-color: #FF9000; }

@media screen and (min-width: 1200px) {
  .container-large {
    width: 1200px; } }

@media screen and (min-width: 992px) and (max-width: 1199px){
 .col-md-4 {
 
 }

}










